<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- 🔹 Kết nối đến SQL Server -->
  <connectionStrings>
    <add name="GPDHConnectionString"
         connectionString="Data Source=localhost\SQLEXPRESS;
                           Initial Catalog=GP311;
                           User ID=sa;
                           Password=123;
                           TrustServerCertificate=True;
                           Encrypt=False;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <!-- 🔹 Thêm API KEY OpenAI -->
  <appSettings>
    <add key="GEMINI_API_KEY" value="AIzaSyAasjLjgFW3oS9kTdzYimlX9jHNjmEm-iI" />
  </appSettings>


  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>

    <!-- (Tùy chọn) Bật Session -->
    <sessionState mode="InProc" timeout="30"/>
  </system.web>

</configuration>
